<!-- start custom head snippets -->

<!-- insert favicons. use https://realfavicongenerator.net/ -->
<!-- Web Browser Favicons -->
<link rel="icon" type="image/x-icon" href="{{ site.baseurl }}/assets/images/favicons/favicon-16.ico" sizes="16x16">
<link rel="icon" type="image/x-icon" href="{{ site.baseurl }}/assets/images/favicons/favicon-32.ico" sizes="32x32">
<link rel="icon" type="image/x-icon" href="{{ site.baseurl }}/assets/images/favicons/favicon-48.ico" sizes="48x48">
<link rel="icon" type="image/x-icon" href="{{ site.baseurl }}/assets/images/favicons/favicon-57.ico" sizes="57x57">
<link rel="icon" type="image/x-icon" href="{{ site.baseurl }}/assets/images/favicons/favicon-67.ico" sizes="67x67">
<link rel="icon" type="image/x-icon" href="{{ site.baseurl }}/assets/images/favicons/favicon-96.ico" sizes="96x96">
<link rel="icon" type="image/x-icon" href="{{ site.baseurl }}/assets/images/favicons/favicon-128.ico" sizes="128x128">
<link rel="icon" type="image/x-icon" href="{{ site.baseurl }}/assets/images/favicons/favicon-192.ico" sizes="192x192">
<link rel="icon" type="image/x-icon" href="{{ site.baseurl }}/assets/images/favicons/favicon-228.ico" sizes="228x228">

<!-- Android Favicons -->
<link rel="shortcut icon" sizes="196x196" href="{{ site.baseurl }}/assets/images/favicons/favicon-196.png">

<!-- Apple Favicons -->
<link rel="apple-touch-icon" href="{{ site.baseurl }}/assets/images/favicons/favicon-120.png" sizes="120x120">
<link rel="apple-touch-icon" href="{{ site.baseurl }}/assets/images/favicons/favicon-152.png" sizes="152x152">
<link rel="apple-touch-icon" href="{{ site.baseurl }}/assets/images/favicons/favicon-180.png" sizes="180x180">

<!-- Windows 8 IE 10 Favicons -->
<meta name="msapplication-TileColor" content="#FFFFFF">
<meta name="msapplication-TileImage" content="{{ site.baseurl }}/assets/images/favicons/favicon-152.png">

<!-- Windows 8.1 + IE11 and above Favicons -->
<meta name="msapplication-config" content="{{ site.baseurl }}/assets/images/favicons/browserconfig.xml" />

<!-- end custom head snippets -->
