name: Build and Check Links

on:
  pull_request:
    types:
      - opened
      - edited
      - synchronize
  workflow_dispatch:

permissions:
  contents: read

jobs:
  # Build job
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Pages
        uses: actions/configure-pages@v4

      - name: Build with Jekyll
        uses: actions/jekyll-build-pages@v1
        with:
          source: ./
          destination: ./_site

      # Use the general-purpose upload-artifact action
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          # Name of the artifact to be downloaded in the next job
          name: jekyll-site
          # Path to the directory to upload
          path: ./_site

  # Link checker job
  link-checker:
    runs-on: ubuntu-latest
    needs: build # This job runs only after the build job is successful
    steps:
      # Use the general-purpose download-artifact action
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          # Must match the name given in the upload-artifact step
          name: jekyll-site

      - name: Create .lycheeignore file
        run: |
          echo "https://www.bhmdiocese.org" >> .lycheeignore
          echo "http://eepurl.com/h-czoP" >> .lycheeignore # Ignore the MailChimp Link
      - name: Link Checker
        uses: lycheeverse/lychee-action@v1.10.0
        with:
          args: "--remap \"^https://annunlord.com/ file://${{ github.workspace }}/\" --base . --verbose './**/*.html' './*.html'"
          token: ${{secrets.GITHUB_TOKEN}}
          fail: true
          format: markdown

  visual-regression-tests:
    runs-on: ubuntu-latest
    needs: build

    container:
      image: mcr.microsoft.com/playwright:v1.56.0

    steps:
      - name: Checkout repository code
        uses: actions/checkout@v4

      - name: Download site artifact
        uses: actions/download-artifact@v4
        with:
          name: jekyll-site
          path: ./_site

      - name: Install dependencies
        run: npm install

      - name: Start Server & Run Tests
        run: |
          # Start the static web server in the background
          npx http-server ./_site -p 8080 &

          # Wait a few seconds for the server to be ready
          sleep 5

          # Run the Playwright tests
          npx playwright test
        env:
          PLAYWRIGHT_BASE_URL: http://localhost:8080
          HOME: /root

      - name: Upload snapshots on failure
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: snapshots-diff
          path: tests/visual.spec.js-snapshots

      - name: Upload Playwright report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: playwright-report
          path: playwright-report/
          retention-days: 30
